.rullebar_ani {
    animation: rullebar_ani 15s;
    animation-iteration-count: infinite;
  }
  
  @keyframes rullebar_ani {
   0% {
      translate: -100% 0%;
    }
    50% {
      translate: 0% 0%;
    }
    100% {
      translate: 100% 0%;
    }
  }
